/*
bootstrap elements
*/
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
  .table td,
  .table th {
    background-color: #fff;
    text-align: left;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd;
  }
}

.btn-default {
	 width: 100%;
	 display: inline-block;
}
